<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title th:text="#{html.admin.panel.title}"/>
        <th:block th:replace="~{fragments :: head}" th:remove="tag"/>
    </head>
    <body>
        <nav th:replace="~{fragments :: header}"></nav>
        <div class="container text-center">
            <h3 th:text="#{html.admin.panel.users}"/>
            <table class="table table-bordered mt-3">
                <thead>
                    <tr>
                        <th th:text="#{html.admin.panel.user.name}"/>
                        <th th:text="#{html.admin.panel.user.state}"/>
                        <th th:text="#{html.admin.panel.action}"/>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="user : ${users}">
                        <td>
                            <a th:href="@{/user/profile/{id}(id = ${user.id})}" th:text="${user.username}"/>
                        </td>
                        <td th:text="${user.accountLocked} ? #{html.admin.panel.user.locked} : #{html.admin.panel.user.not_locked}"/>
                        <td>
                            <form th:if="${user.accountLocked}"
                                  th:action="@{/admin/unban-user/{id}(id = ${user.id})}"
                                  th:method="PATCH">
                                <input class="button button-danger" type="submit" th:value="#{html.admin.panel.user.unlock}">
                            </form>
                            <form th:if="${!user.accountLocked}"
                                  th:action="@{/admin/ban-user/{id}(id = ${user.id})}"
                                  th:method="PATCH">
                                <input class="button button-success" type="submit" th:value="#{html.admin.panel.user.lock}">
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>