<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" data-bs-theme="dark">
    <head>
        <title th:text="${errorMessage}"></title>
        <th:block th:replace="~{fragments :: head}" th:remove="tag"></th:block>
    </head>
    <body>
        <div class="d-flex align-items-center justify-content-center vh-100">
            <div class="text-center">
                <h1 class="display-1 fw-bold" th:text="${statusCode}"></h1>
                <p class="fs-3 text-danger">Упс!</p>
                <p class="lead" th:text="${errorMessage}"></p>
                <a href="/posts" class="btn btn-primary">Вернуться</a>
            </div>
        </div>
    </body>
</html>