<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>VITRIX</title>
        <th:block th:replace="~{fragments :: head}" th:remove="tag"></th:block>
        <th:block th:replace="~{fragments :: gridify}" th:remove="tag"></th:block>
    </head>
    <body>
        <nav th:replace="~{fragments :: header}"></nav>
        <div class="container text-center mb-2">
            <h2 class="text-center" th:if="${page.content == null or page.content.isEmpty()}" th:text="#{html.user.label.no_posts}"/>
            <div class="grid">
                <div th:each="post : ${page.content}">
                    <a th:href="@{/user/profile/{id}(id = ${post.ownerId})}">
                        <img th:src="@{/api/v1/images/{id}(id = ${post.imageId})}"
                             class="rounded"
                             alt="#">
                    </a>
                </div>
            </div>
        </div>
        <script>
            $(function () {
                var options = {
                    srcNode: 'img',
                    margin: '10px',
                    max_width: '300px',
                    resizable: true,
                };
                $('.grid').gridify(options);
            });
        </script>
    </body>
</html>
