<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" data-bs-theme="dark">
    <head>
        <title>VITRIX</title>
        <th:block th:replace="~{fragments :: head}" th:remove="tag"></th:block>
    </head>
    <body>
        <nav th:replace="~{fragments :: header}"></nav>
        <div class="container col-10 text-center">
            <!-- Search -->
            <form class="d-flex mt-5" role="search" method="get" action="/postEntities">
                <input class="form-control"
                       th:value="${search} ?: ''"
                       name="search"
                       type="search"
                       placeholder="Поиск постов"
                       aria-label="Поиск">
                <button class="btn btn-outline-success ms-2" type="submit">Поиск</button>
            </form>

            <h2 class="mt-5 text-center" th:if="${posts == null or posts.isEmpty()}">Пусто :(</h2>
            <div class="row row-cols-md-2 row-cols-lg-3 mt-3">
                <div class="mb-4" th:each="post : ${posts}">
                    <a th:href="@{/userEntity/profile/{id}(id = ${post.owner.id})}">
                        <img th:src="@{/api/v1/images/{id}(id = ${post.imageEntity.id})}"
                             class="rounded"
                             style="max-width: 100%;"
                             alt="Фото было удалено">
                    </a>
                </div>
                <!--        <div class="mb-4 col" style="height: 380px; max-block-size: 300px">-->
                <!--            <img src="/static/img/logo.png"-->
                <!--                 class="rounded"-->
                <!--                 style="max-width: 100%; background: black; max-block-size: 300px"-->
                <!--                 alt="Фото было удалено">-->
                <!--        </div>-->
                <!--        <div class="mb-4 col">-->
                <!--            <img src="/static/img/a.jpg"-->
                <!--                 class="rounded"-->
                <!--                 style="max-width: 100%; background: black"-->
                <!--                 alt="Фото было удалено">-->
                <!--        </div>-->
                <!--        <div class="mb-4 col">-->
                <!--            <img src="/static/img/8.jpg"-->
                <!--                 class="rounded"-->
                <!--                 style="max-width: 100%; background: black"-->
                <!--                 alt="Фото было удалено">-->
                <!--        </div>-->
                <!--        <div class="mb-4 col">-->
                <!--            <img src="/static/img/PXN09.jpg"-->
                <!--                 class="rounded"-->
                <!--                 style="max-width: 100%; background: black"-->
                <!--                 alt="Фото было удалено">-->
                <!--        </div>-->
                <!--        <div class="mb-4 col">-->
                <!--            <img src="/static/img/a.jpg"-->
                <!--                 class="rounded"-->
                <!--                 style="max-width: 100%; background: black"-->
                <!--                 alt="Фото было удалено">-->
                <!--        </div>-->
            </div>
        </div>
    </body>
</html>